<div class="whitebox">
    <h2>Registration</h2>
    <form>
        <input type="text" placeholder="Name"/>
        <input type="text" placeholder="Email"/>
        <input type="text" placeholder="Username"/>
        <input type="password" placeholder="Password"/>
        <input type="password" placeholder="Confirm Password"/>
        <select placeholder="Section Number">
            <option>Section 1</option>
            <option>Section 2</option>
            <option>Section 3</option>
            <option>Section 4</option>
        </select><br/>
        <div class="centered">
            <button class="button button-blue shadow" data-ng-click="submit()">Finish</button>
        </div>
    </form>
</div>