.blue {
  color: #6699CC;
}

.background-blue {
  background-color: #6699CC; 
}

.background-grey {
    background-color: #D7D7D7;
}

.border {
    border: 1px solid black;
}
.header {
    width: 100%;
    height: 60px;
}

#home {
    width: 40px;
    height: 40px;
    float: left;
}
#signout {
    float: right;
}
#title {
    font-size: 2em;
    text-align: center;
}
#left-panel {
    width: 640px;
    border-right: 1px solid black;
    float: left;
    display:table-column;
    height: 800px;
    margin-left: -10px
}
#right-panel {
    width: 50%;
    float: right;
    display:table-column;
    height: 800px;
}
.shadow {
  box-shadow: 4px 4px 5px #888888;
  -moz-box-shadow: 4px 4px 5px #888888;
  -webkit-box-shadow: 4px 4px 5px #888888;
}

.question{
    background: white;
    margin: 1em;
    height: 80px;
    
}

p {
    height: 80px;
    display: table-cell;
    padding: 0 1.5em 0 1.5em;
    vertical-align: middle;
}
.search {
    width: 100%;
    height: 30px;
}

h1 {
    color:#6699CC;
    font-size: 2em;
}
h2 {
  color: #4477AA;
  font-size: 1.75em;
}


* {
  font-family: 'century gothic' 'helvetica'; 
}

